[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "==2.5.0"
python-dotenv = "*"
pylint = "==2.3.1"

[packages]
alembic = "==1.4.1"
astroid = "==2.2.5"
cffi = "==1.14.0"
click = "==7.0"
ecdsa = "==0.13.3"
future = "==0.17.1"
isort = "==4.3.18"
itsdangerous = "==1.1.0"
lazy-object-proxy = "==1.4.0"
mccabe = "==0.6.1"
psycopg2-binary = "==2.8.4"
pyasn1 = "==0.4.8"
pycparser = "==2.20"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
rsa = "==4.0"
six = "==1.12.0"
typed-ast = "==1.3.5"
wrapt = "==1.11.1"
Flask = "==1.0.2"
Flask-Cors = "==3.0.8"
Flask-SQLAlchemy = "==2.4.0"
Mako = "==1.2.2"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.3.3"
Werkzeug = "==0.15.3"
flask-migrate = "*"
pycryptodome = "*"
python-jose = "*"
gunicorn = "*"
flask-script = "*"

[requires]
python_version = "3.7"
